/************ this begins the reset for the site *************/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
b, u, i, center,
dl, dt, dd, ol, ul, li,
 form
 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/************ this ends the reset for the site *************/
body{
    background-color: #FCFFF5;
    min-height: 100%;
}
.navbar-default {
    background-color: #3E606f;
}
.navbar-default .navbar-nav>li>a {
    color: #FCFFF5;
    font-family: 'Philosopher', sans-serif;
}
.navbar-default .navbar-brand {
    color:#FCFFF5;
    font-family: 'Philosopher', sans-serif;
    font-size: 25px;
}
.navbar-default .navbar-brand:hover {
    color:#D1DBBD;
    font-family: 'Philosopher', sans-serif;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #D1DBBD;
    font-family: 'Philosopher', sans-serif;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    color: #FCFFF5;
    background-color: #3E606f;
    font-family: 'Philosopher', sans-serif;
}
.navbar-nav>li>.dropdown-menu{
    color: #FCFFF5;
    background-color: #3E606f;
    font-family: 'Philosopher', sans-serif;
}
.dropdown-menu>li>a{
    color: #FCFFF5;
    background-color: #3E606f;
    font-family: 'Philosopher', sans-serif;
}
.dropdown-menu>li>a:hover{
    color: #D1DBBD;
    background-color: #3E606f;
    font-family: 'Philosopher', sans-serif;
}
.carousel-inner {
    height:400px;
}
span,h1,h2,h3{
    font-size: 25px;
    color:#D1DBBD;
    font-family: 'Philosopher', sans-serif;
}
.mission, .community, .fundraiser {
    width:900px;
    background-color: #3E606F;
    margin:40px auto;
    padding:30px;
}
.mission h1 {
    margin-left: 160px;
}
.mission h1, p{
    color:#FCFFF5;
}
.calculations .container{
    width:800px;
    background-color: #3E606f;
    padding:30px;
    margin:40px auto;
}
.aboutUs {
    width: 50.000em;
    background-color: #3E606f;
    padding:40px;
    margin:63px auto;
}
.aboutUs span {
    color:#FCFFF5;
    weight:700;
}
.aboutUs p{
    color:#FCFFF5;
    margin-top: 14px;
    margin-bottom: 15px;
    line-height: 20px;
}
.contact {
    width:700px;
    padding:30px;
    margin:50px auto;
    background-color: #3E606f;
}
.mission, .aboutUs, .contact p{
    font-family: 'Open Sans', sans-serif;
}

.fundraiser p {
    padding: 20px;
}
footer{
    font-family: 'Philosopher', sans-serif;
    background-color: #3E606F;
    color:#FCFFF5;
    padding:20px;
    margin:0;
}
footer .left{
    padding-top:12px;
}
footer .right{
     text-align: right;
 }
footer .right i{
    color:#FCFFF5;
}
.Transform{
	Transform{Rotate (90deg);
	}
